body {
    font-family: "Berlin Sans", sans-serif; /* Change the font for the entire body */
    color: #09066d;
    background-color: #eca1d5;
}

#header {
    background-color: #899fe0;
    color: #fff;
    padding: 20px;
}

#header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

#content {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#footer {
    text-align: center;
    padding: 10px;
    background-color: #eca1d5;
    color: #fff;
}